*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    background: url(img/theacclaimed.jpg) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff69b4;
    padding: 15px;
    border-radius: 17px;
    margin: 20px;
}

.game-container {
    width: 350px;
    height: 300px;
    border-radius: 17px;
    background: black;
    color: #ff69b4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picks-container{
    width: 325px;
}

.player-pick {
    font-size: 1.3rem;
    padding: 10px;
}

.result-container {
    width: 325px;
    height: 100px;
    text-align: center;
}

.game-result {
    font-size: 1.6rem;
    padding: 15px;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

button {
    border-radius: 5px;
    box-shadow: 0 0 3px;
}

button i {
    font-size: 2rem;
    padding: 10px;
    color: #000;
    width: 50px;
}

#rock {
    background-color: #ff69b4;
}

#paper {
    background-color: #ff69b4;
}

#scissors {
    background-color: #ff69b4;
}